!!!
!!! XML
%html
	%head
		%title= "Grow a NavTree"
		%meta{ "http-equiv" => "content-type", "content" =>"text/html;charset=UTF-8"} 
		= stylesheet_link_tag 'application'
		= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js'
		
		:javascript

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-25332722-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();   
		
	%body
		#wrapper
			#session_button= link_to "login", "/sign_in"
			#flash
				-flash.each do |key, msg|
					= content_tag :span, msg, :id => key, :class => "flash"
					%br=#Otherwise no line break!
					
			#header
				=image_tag "logo.png" 
				#big_desc A Safari extension to track your web browsing click by click and understand it visually. 
				=image_tag "download_button.png" 
			
			= yield
