<h1>Listing edges</h1>

<table>
  <tr>
    <th>User</th>
  </tr>

<% @edges.each do |edge| %>
  <tr>
    <td><%=h edge.user_id %></td>
    <td><%= link_to 'Show', edge %></td>
    <td><%= link_to 'Edit', edit_edge_path(edge) %></td>
    <td><%= link_to 'Destroy', edge, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New edge', new_edge_path %>